body {
  font-family: Arial;
  background: #f0f3ff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

textarea, input, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #4e6cff;
  color: white;
  border: none;
  border-radius: 8px;
}

.hidden {
  display: none;
}

pre {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  white-space: pre-wrap;
}
