body {
  background: #eef1ff;
  font-family: Arial;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

textarea {
  width: 100%;
  height: 180px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #999;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4169e1;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
}

#resultBox {
  margin-top: 20px;
  padding: 15px;
  background: #f6f6f6;
  border-radius: 6px;
  min-height: 100px;
}
